:root{
    --color-primary:#6667AB;
    --color-accent:#0AB39C;
    --color-neutral:#F3F3F9;
    --color-white:rgb(255, 255, 255);
    --color-text:#162331;
    --color-text-light:#878A99;
    --color-border:#eff2f7;
    --color-pagebtn:#F5F6FA;
    /* contact colors */
    --color-sidebar-btn:#D9D9FB;
    --color-avatar:#EFEFF7;
    --color-navbtn:#299CDB;
    --color-navbtn-bg:#E9F5FB;
    --color-username:#1991EB;
    --color-tbl-border:#9DAABF;
    --color-contacts-blue:#007AD4;
    --color-contacts-green: var(--color-accent);
    --color-contacts-red:#D26175;

    /* fonts */
    --ff-raleway:'Raleway', sans-serif;
    --ff-roboto:'Roboto', sans-serif;
    /* font weight */
    --fw-small:400;
    --fw-regular:500;
    --fw-bold:700;
    /* font sizes */
    --fs-xsmall:13px;
    --fs-small:14px;
    --fs-regular:15px;
    --fs-primary:16px;
    --fs-medium:20px;
    --fs-large:30px;
    --fs-xlarge:35px;
    
    /* border radius */
    --xsmall-radius:2px;
    --small-radius:5px;
    --regular-radius:10px;
    --pill-radius:999em 999em;

    /* grid rows */
    --grid-columns : 40;
}

/* mobile first */

* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
  }

html,
body {
  height: 100%;
  background-color: var(--color-neutral);
  color: var(--color-text);
  font-family: var(--ff-raleway);
  font-size: var(--fs-regular);
  font-weight: var(--fw-regular);
}

svg path {
     fill: currentColor !important;
}

/* header */
.contacts-header{
    display: flex;
    justify-content: space-between;
    padding: 10px  29px 10px 25px;
    background-color: var(--color-primary);
}

button{
    background:none;
    border:none;
    cursor: pointer;
    display: inline-flex;
}
button:hover{
    filter: brightness(0.90);
   }

img{
    width: auto;
}

a{
    text-decoration: none;
}
.open{
    display: flex !important;
}

.logo-div{
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.util-nav{
    display: flex;
    align-items: center;
    position: relative;
    gap: 2rem;
}
.user{
    display: flex;
    gap: 11px;
}
.user>img{
    width: 10px;
}
.user-menu{
    display: none;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 53px;
    right: -29px;
    background-color: var(--color-primary);
    padding: 16px;
    z-index: 10;
    color: var(--color-white);
    min-width: 222px ;
    border-bottom-left-radius: var(--small-radius);
    border-bottom-right-radius: var(--small-radius);
    box-shadow: 0px 3px 3px rgba(0,0,0,0.06 );
}

.user-menu>.home,.user-menu>.apps,.user-menu>.upgrade{
    display: none;
}
/* upgrade */
.upgrade{
    position: relative;
    width: 190px;
    padding: 5px;
    border-radius: var(--small-radius);
    background-color: rgb(239, 201, 132, .2) ;
}
.upgrade>img{
    position: absolute;
    max-width: 25px;
    top: -7px;
    left: -3px;
    transform: rotate(335deg);
}
.upgrade>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--small-radius);
    background-color: var(--color-white);
    color: var(--color-text);
    font-size: 12px;
    font-weight: 500;
    padding: 4px 4px 4px 10px;
    width: 100%;
}
.upgrade>div>span{
    background-color: rgb(239 201 132);
    border-radius: var(--small-radius);
    color: var(--color-white);
    padding: 4px;
    line-height: 14px;
}
.upgrade>div>img{
    max-width: 20px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.06 );
}

/* main content */
.main-content{
    display: flex;
    /* height: 100%; */
}
/* side bar */
.sidebar{
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding:17px 12px;
    /* height: 100%; */
}
.sidebar>button{
    padding: 8px;
}
button.sidebar-active{
    background-color: rgb(255, 255, 255, .2);
    border-radius: var(--small-radius);
}
.sidebar>button>img,.info-icon>img{
    max-height: 19px;
    min-width:19px
}
/* contacts nav */
.contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 57px - 48px);
    margin: 1rem 2rem;
    font-family: var(--ff-roboto);

}
.contacts-nav{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    align-items: center;
    background-color: var(--color-white);
    margin-bottom:1rem;
    padding: 1.25rem;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.06 );
    border-radius: var(--small-radius);
    width:100%
}
.info-icon{
    display: flex;
    padding: 0.5rem;
    background-color: rgb(102, 103, 171,.2);
    border-radius: var(--small-radius);
}
.list-info{
    flex-grow: 1;
}
.list-info>h3{
    font-size: var(--fs-medium);
    font-weight: var(--fw-bold);

}
.info-icon>img{
    filter: invert(41%) sepia(17%) saturate(1378%) hue-rotate(201deg) brightness(96%) contrast(86%);
}
.breadcrumbs{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-text-light);
    font-size: var(--fs-small);
    font-weight: var(--fw-small);
    font-family: var(--ff-roboto);
}
.breadcrumbs .lnk-active{
color: var(--color-text) ;
}

.lnk{
    color: var(--color-text-light);
}

.lnk:after{
    content: "";
    background:url("images/contacts/left-arrow.svg");
    display: inline-block;
    width: 6px;
    height: 10px;
    margin-left: 8px;
}
/* right nav */
.contacts-nav nav{
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--color-navbtn-bg) ;
    width: 38px;
    height: 38px;
    padding:9px ;
    border-radius: var(--xsmall-radius);
}

.nav-menu{
    display: none;
}
.nav-btn.active{
    background-color: var(--color-navbtn);
}


.add-contacts{
    background-color: var(--color-accent);
    color: var(--color-white);
    border-radius: var(--xsmall-radius);
    padding: 0.75rem 1.25rem;
    white-space: nowrap;
}

/* table of contacts */

.contacts-rows{
    margin-bottom:1rem;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.06 );
    border-radius: var(--small-radius);
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), fit-content(120px));
    row-gap: 1rem;
}

.name{
    grid-column: 1/span 1;
}
.actions{
    grid-column: var(--grid-columns) /span 1;
}

.cell{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1rem;
    font-family: var(--ff-roboto);
    font-weight: var(--fw-small);
    white-space: nowrap;
    text-align: left;
    font-size: var(--fs-small);
    box-shadow: 0px 3px 3px rgba(0,0,0,0.06 );
}
.head.cell{
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 1.25rem 1rem;
    font-size: var(--fs-primary);

}
.head.cell>button{
    background-color: var(--color-primary);
    min-width: 11px;
}
.head>.cell>input{
    border: 1px solid var(--color-white);
}

.cell.row {
    background-color: var(--color-white);
}
.name{
    border-top-left-radius: var(--small-radius);
    border-bottom-left-radius: var(--small-radius);
}
.actions {
    border-top-right-radius: var(--small-radius);
    border-bottom-right-radius: var(--small-radius);
}
.name{
 border-right: 0.5px solid var(--color-tbl-border);
}
.row.cell.name{
    font-weight: var(--fw-regular);
    color: var(--color-username);
}
.row.cell.pseudo{
    font-weight: var(--fw-regular);
}

.row.cell.email,.row.cell.telephone{
    font-weight: var(--fw-regular);
    color: var(--color-primary);
}
.cell.email>div,.cell.telephone>div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background-color: #F8F8FA;
    padding: 9px 14px;
    border-radius: var(--pill-radius);
}
.cell.row span{
    max-width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.cell.telephone>div>button{
    margin-left: 26px;
}
.name>button{
    border-radius: 50%;
    overflow: hidden;
    min-width: 40px;
    max-height: 40px;
}

.action>img{
    min-width:15px;
    max-height:15px
}

.show>img{
    width: 16px;
    height: 16px;
    filter: invert(41%) sepia(22%) saturate(1077%) hue-rotate(201deg) brightness(95%) contrast(87%);
}
.show{
    display: none;
    background: none;
    flex-grow: 1;
}

.sub-contact{
    /* position: absolute; */
    background-color: var(--color-white);
    top: 65px;
    left: 0;
    grid-column-start: 1;
    grid-column-end: span var(--grid-columns);
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    padding: 1rem;
    margin-top: -0.9rem;
    font-family: var(--ff-roboto);
    font-weight: var(--fw-regular);
    text-align: left;
    font-size: var(--fs-small);
    z-index: 10;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.06 );
    border-radius: var(--small-radius);
}

.sub{
    display: none;
}

.sub>.title{
    color: var(--color-primary);
}
/* pagination */
/* pagination */
.pagination{
    display: flex;
    align-items: center;
    gap: 0.75rem;
    justify-content: center;
    width: 100%;
}
.page{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: var(--color-pagebtn);
    color: var(--color-text);
    border-radius: var(--small-radius);
    font-size: 12px;
    font-family: var(--ff-roboto);
    font-weight: var(--fw-small);
}

.page.active,.page:hover{
    background-color: var(--color-primary);
    color: var(--color-white);
}

.previous,.next{
    background: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--color-tbl-border);
}
.pagination-contacts,.footer{
    display: flex;
    align-items: center;
    gap: 0.75rem;
    justify-content: center;
    width: 100%;
    background-color: var(--color-white);
    padding: 15px 17px;
    font-family: var(--ff-roboto);
    font-weight: var(--fw-small);
    box-shadow: 0px 3px 3px rgb(0 0 0 / 6%);
    margin-bottom: 10px;
    border-radius: var(--small-radius);
}

.page-info{
    font-size: 12px ;
    display: flex;
    align-items: center;
    gap: 18px;
    color: var(--color-tbl-border);
}

.page-info>button{
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: 8px 16px;
    border-radius: var(--small-radius);
}
.page-info>span{
    white-space: nowrap;
}

/*

@media (max-width:104em){/*Result: 1664px
    .entreprise{
        display: none;
    }
    .contacts-rows{
        --grid-columns:8
    }
    .sub-entreprise{
        display: block;
    }
    

    .show{
        display: block;
    }

}
@media (max-width:94em){/*Result: 1504px
    .pays,.poste{
        display: none;
    }
    .contacts-rows{
        --grid-columns:6;
    }
    .sub-pays,.sub-entreprise,.sub-poste{
        display: block;
    }
   
    .show{
        display: block;
    }

}
@media (max-width:78em){/*Result: 1248px
    .poste,.fonction{
        display: none;
    }
    .contacts-rows{
        --grid-columns:5;
    }
    .sub-contact{
        justify-content: left;
    }
    .sub-pays,.sub-poste,.sub-fonction,.sub-entreprise{
        display: block;
    }

}
@media (max-width:67em){/*Result: 1072px
    .telephone{
        display: none;
    }
    .contacts-rows{
        --grid-columns:4;
    }
   
    .sub-telephone{
        display: block;
    }
    


}
@media (max-width:56em){/*Result: 848px
    .pseudo{
        display: none;
    }
    .contacts-rows{
        --grid-columns:3;
    }
    
    .sub-pseudo{
        display: block;
    }
    .contacts-nav>nav{
        display: none;
    }
    .util-nav>.upgrade,.util-nav>.home,.util-nav>.apps{
        display: none;
    }
    .user-menu>.home,.user-menu>.apps,.user-menu>.upgrade{
        display: flex;
    }
}
@media (max-width:44em){/*Result: 704px
    .email{
        display: none;
    }
    .contacts-rows{
        --grid-columns:2;
    }
    
    .sub-email{
        display: block;
    }
    .pagination-contacts{
        flex-direction: column;
    }
}*/
@media (max-width:56em){/*Result: 704px*/
    .contacts-nav>nav{
        display: none;
    }

}
@media (max-width:44em){/*Result: 448px*/
    
    .util-nav>.upgrade,.util-nav>.home,.util-nav>.apps{
        display: none;
    }

}

@media (max-width:28em) {
    .sidebar{
        display: none;
    }
    .contacts-header{
        padding: 8px 10px 10px 8px;
    }

    .contacts-nav,.name,.actions,.sub-contact{
        border-radius: 0px;
    }
    
    .contacts{
        width: 100%;
        margin: 1rem 0;
    }
    .cell.row{
        padding: 11px 8px;
    }
    
}